@import url('https://fonts.googleapis.com/css?family=Acme|Bitter:400,400i,700&display=swap');


header {
    background-color: #2A7221;
    border-radius: 20px;
    height: auto;

}

h1 {
    font-size: 3.5em;
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f9e7e7;
    vertical-align: middle;
}

header img {
    border-radius: 5px;
    width: 125px;
    box-shadow: 0px 0px 10px 5px;
    margin-right: 30px;
    margin-top: 15px;
}

h2 {
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

body {

    font-family: 'Bitter', serif;
    max-width: 800px;
    margin: auto;

}

.middle {
    margin: 10px 30px 10px;
}

footer {
    background-color: #2A7221;
    text-align: center;
    border-radius: 20px;
    height: auto;
    padding-top: 10px;
    color: red;
}

footer li {
    color: #f9e7e7;
    list-style-type: none;
    display: inline-block;
    font-family: 'Acme', sans-serif;
}

footer li a:link {
    color: #f9e7e7;
}

footer li:after {
    content: " | ";
}

footer li:last-child:after {
    content: ""
}