
body {
    max-width: 800px;
    margin:0 auto;
}

.activemenu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.activemenu li {
    display: block;
}

.activemenu li:first-child{
    display: none;

.bookit {
    max-width: 600px;
}

.guides {
    grid-template-columns: 1fr 1fr 1fr;
}

}