@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');

/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Gentium Book Basic', serif;*/

//Body

h1, h2, h3, h4, h5, h6 {
    font-family: $fontfamily1;
    color: $color1;
}

body{
    text-align: center;
    background-color: $color4;
}

p {
    font-family: $fontfamily2;
}

header, nav, footer{
    margin: 0;
    padding: 1px;
}

//Header

header, footer {
    background-color: $color5;
}

header h1 {
    padding: .2em;
}

//Nav

.activemenu li {
    display: none;
}

.responsive li {
    display: block;
}

#menu {
    font-size: 1.5em;
}

.activemenu li:first-child {
    display: block;
}

.activemenu label{
    font-size: 3em;
}

.activemenu {
    background-color: $color2;
    font-family: $fontfamily1;
    color: $color3;
}

.activemenu ul {
    list-style: none;
}

.activemenu a {
    padding: .5em;
    text-decoration: none;
    color: $color3;
}

.active {
    font-weight: bold;
    font-size: 1.5em;
}

//Weather

.currentWeather{
    background-color: $color5;
    font-family: $fontfamily1;
    margin: 0;
    padding: .5px
}

.currentWeather ul{
    list-style: none;
}

.currentWeather li{
    display: inline-block;
}

#weather{
    font-weight: bold;
}

//Footer

footer a {
    text-decoration: none;
    color: $color3;
}