@media only screen and (min-width: 1000px){
    main {
        max-width: 1200px;
    }
    footer {
        max-width: 1200px;
    }

    nav li:first-child{
        display: none;
    }

    .forcast img{
            width: 125px;
        }

        .igallery img {
            grid-template-columns: 1fr 1fr 1fr;
        }

}