@media only screen and (min-width: 501px) {
    main {
        max-width: 800px;
    }
    footer {
        max-width: 800px;
    }
    nav ul{
        font-size: 1.2em;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        margin: 0;
        }

  
    nav a {
        text-decoration: none;
    }

    nav li {
        display: block;
    }

    nav li:first-child{
        display: none;
    }

    .article-img{
        float: right;
        width: 350px;
        padding: 8px;
        clear: right;
        overflow: auto;
    }

    .contact{
        text-align: right;
        margin: 10px;
        padding: 10px;
    }

    .forcast{
        display: block;
    }

    .forcast img{
        width: 75px;
    }
 
    .contact iframe{
        float: left;
        display: block;
    }
 
}