@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Josefin+Sans&display=swap');

/*
font-family: 'IM Fell DW Pica', serif;
font-family: 'Josefin Sans', sans-serif;
*/

h1, h2 {
    color: #AEE5D8;
    font-family: 'IM Fell DW Pica', serif;
}

h1 {
    font-size: 3em;
}

h2{
    font-size: 2em;
}

body{
    text-align: center;
    background-color: #AC80A0;
}

.cards {
    display: grid;
    grid-template-columns: 100%;
}

main {
    margin: 15px;
    background-color: #AEE5D8;
    box-shadow: 0px 0px 50px #360A14;
}

img {
    width: 50%;
    box-shadow: 0px 0px 20px #360A14;
    border-radius: 100px;
}

section{
    background-color: #818479;
    margin: 4px;
    padding-bottom: 5px;
    border: 2px #95190C solid;
}

p {
    margin-top: -5px;
    font-size: 1.2em;
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (min-width: 501px) {

    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}