/*
Colors are the following
#fbf5f3
#c0c5c1 - header and footer
#689689 - background color
#73a6ad
#0c0910 - font color
*/

/*
font-family: 'Crete Round', serif; - body
font-family: 'Yanone Kaffeesatz', sans-serif; - header
*/

@import url('https://fonts.googleapis.com/css?family=Crete+Round:400,400i|Yanone+Kaffeesatz:200,300,400,500,600,700&display=swap');

@media only screen and (max-width: 500px){
    .hamburger {
        width: 30px;
        height: 4px;
        border-radius: 2px;
        background-color: #0c0910;
        margin: 5px 0px;
    }


}

h1, h2, h3, h4, h5, h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1 {
    font-size: 3em;
}

header{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

header, footer {
    background-color: #689689;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    max-width: 200vw;
    padding: 3px;
    line-height: 3px;
    font-size: 1.5em;
}

footer {
    margin: 20px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10%;
}

nav {
    top: 0;
    background-color: #73a6ad;
}

nav ul{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.6em;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #0c0910;
}

body {
    max-width: 800px;
    text-align: center;
    color: #0c0910;
    margin: auto;
    background-color: #c0c5c1;
    font-family: 'Crete Round', serif;
}

.body {
    border-style: dashed;
    border-width: 1px;
    border-color: #0c0910;
    margin: 20px;
    padding: 8px;
    background-color: #73a6ad;
}