/*
font-family: ubuntu, sans-serif;
color scheme
data rows
#e7f0ed
#e7ffed
other rows
#628ca6
#7fb9c2
black
white

MAXIMUM one class or id selector
ONE instance of first-child or nth:child()
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
    font-family: ubuntu, sans-serif;
    
    padding: 30px;
}

th {
    color: white;
    background-color: #628ca6;
    font-weight: 600;
}

caption {
    background-color: #7fb9c2;
    font-weight: 800;
    font-size: 1.5em;
}

table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 300px;
    box-shadow: 5px 5px 8px #7fb9c2;
}

td, th, tfoot {
    padding: 5px;
}

table, td, th, tfoot {
    border: 1px solid #bbbbbb;
}

tfoot th{
    font-size: .8em;
    font-weight: normal;
    background-color: #7fb9c2;
    color: black;
}

thead th{
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    background-color: #7fb9c2;
}

tr {
    background-color: #e7f0ed;
}

tr:nth-child(odd){
    background-color: #e7ffed;
}

.highlight {
    background-color: #628ca6;
    color: white;
}

