/*
Colors are the following
#fbf5f3
#c0c5c1 - header and footer
#689689 - background color
#73a6ad
#0c0910 - font color
*/

/*
font-family: 'Crete Round', serif; - body
font-family: 'Yanone Kaffeesatz', sans-serif; - header
*/

@import url('https://fonts.googleapis.com/css?family=Crete+Round:400,400i|Yanone+Kaffeesatz:200,300,400,500,600,700&display=swap');

@media only screen and (max-width: 300px) {

body{
    max-width: auto;
}
img{
    max-width: 90%;
}

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1{
    font-size: 3em;
}


img{
    max-width: 800px;
}
header,
footer {
    background-color: #c0c5c1;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header .sun {
    float: left;
}
.sun {
    max-width: 100px;
    max-height: 100px;
}

header li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}


body {
    background-color: #689689;
    margin: auto;
    color: #0c0910;
    text-align: center;
    font-family: 'Crete Round', serif;
    max-width: 800px;
}

body a{
    text-decoration: underline;
}

footer {
    height: auto;
    padding: 10px 5px;

}

footer li {
    list-style-type: none;
    display: inline-block;

}

footer li:after {
    content: " | ";
}

footer li:last-child:after {
    content: ""
}

a {
    text-decoration: none;
    color: #0c0910;
}

.font2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.scheme {
    box-shadow: 0px 0px 10px 5px;
    margin: 10px auto;
}

